@model CategoryViewModel

@{
    ViewData["Title"] = "Administration";
}

<div class="card mt-4">
    <div class="card-header">
        <partial name="_AdminTabs" />
    </div>

    <div class="card-body">
        <div class="tab-content mt-3 mx-md-5">
            <div class="tab-pane active" id="Category" role="tabpanel" aria-labelledby="category-tab">
                <p class="text-center">Enter and save a new food category</p>
                <div class="d-flex justify-content-center">
                    <form class="form-inline" asp-action="CreateCategory">
                        <input type="hidden" asp-for="CategoryId" />
                        <input type="hidden" asp-for="MealPlanId" />
                        <div class="form-group mx-2 mb-2">
                            <label asp-for="Name" class="sr-only"></label>
                            <input asp-for="Name" class="form-control" />
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Add</button>
                    </form>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger text-center"></div>
                <span asp-validation-for="Name" class="text-danger d-block text-center"></span>
            </div>
        </div>
    </div>
</div>