<ul class="nav nav-tabs card-header-tabs" id="tab-list" role="tablist">
    <li class="nav-item">
        <a active-url="Item" asp-controller="Item" asp-action="@ViewData["MealPlan"]" class="nav-link text-dark" role="tab" aria-controls="Items" aria-selected="false">Items</a>
    </li>
    <li class="nav-item">
        <a active-url="Category" asp-controller="Category" asp-action="@ViewData["MealPlan"]" class="nav-link text-dark" role="tab" aria-controls="Categories" aria-selected="false">Categories</a>
    </li>
    <li class="nav-item">
        <a active-url="Meal" asp-controller="Meal" asp-action="@ViewData["MealPlan"]" class="nav-link text-dark" role="tab" aria-controls="Meals" aria-selected="false">Meals</a>
    </li>
    <li class="nav-item">
        <a active-url="Shopping" asp-controller="Shopping" asp-action="@ViewData["MealPlan"]" class="nav-link text-dark" role="tab" aria-controls="Shopping" aria-selected="false">Shopping</a>
    </li>
</ul>