@model ShoppingViewModel

@{
    ViewData["Title"] = "Delete Shopping";
}

    <div class="card mt-4">
        <div class="card-header">
            <partial name="_AdminTabs" />
        </div>

        <div class="card-body">
            <div class="tab-content mt-3 mx-md-5">
                <div class="tab-pane active" id="Shopping" role="tabpanel" aria-labelledby="shopping-tab">
                    <p class="text-center">Are you sure you want to delete the following shopping date?</p>
                    <div class="d-flex justify-content-center">
                        <form class="form-inline" asp-action="DeleteShopping">
                            <input type="hidden" asp-for="ShoppingId" />
                            <input type="hidden" asp-for="MealPlanId" />
                            <div class="form-group mx-2 mb-2">
                                <label asp-for="Date" class="sr-only"></label>
                                <input asp-for="Date" class="form-control" readonly />
                            </div>
                            <button type="submit" class="btn btn-danger mb-2">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>